/* CSS Document */

/* first color 29007e */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #5E678C;
  overflow-x: hidden;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 0px;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0px;
}

.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #1CABE2;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}

.preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader-fx {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

.side-article h6 {
    text-decoration: underline;
    color: #1CABE2;
    padding: 5%;
}

.header-logo.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #fff;
}

.header-logo.sticky .logo img{
    width:50%;
}

.mtct-list {

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.mtct-list li {
    padding: 1% 0%;
    padding-right:1% !important;
    list-style-type: none;
}

.mtct-list li i {
    margin-right: 2%;
    color: #F5272B;
}

.donate-right .btn.donate {
    background-color: #1CABE2;
    color: #fff;
}

a.btn.donate1 {
    margin-right: 5px;
    position: relative;
    display: inline-flex;
    width: 154px;
    align-items: center;
    justify-content: center;
    height: 50px;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    background-color: #F5272B !important;
    border-radius: 5px !important;

    border: 1px solid #F5272B;

    filter: drop-shadow(0 0 5px #0005);
}

.input-group-prepend {
    width: 15% !important;
    text-align: center !important;
}

.input-group-prepend .input-group-text {
    background-color: #1CABE2 !important;
    color: #fff !important;
    width: 100%;
    text-align: center !important;
}

.ifrmd {
    height: 960px;
    width: 100%;
    background: white;
    border: none;

}

.logo-card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.text-primary {
    color: #2e25a1 !important;
}

.input-group-text {
    color: #fff;
    background-color: #2e25a1;
}

.form-control:focus {
    border-color: #2e25a1;
    box-shadow: none;
}

.custom-select:focus {
    border-color: #2e25a1;
    box-shadow: none;
}

.btn-primary {
    background-color: #2e25a1;
    border: none;
}

.btn-primary:hover {
    background-color: #2e25a1;
}

.memb-form {
    -webkit-box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 0.19);
}
/* National Commitee */
.natc-main{
    background-color: #eedeff;
    color:#2e25a1;
    border-radius: 1rem;
}
.natc-sub{
    background-color: #e1defc;
    color:#2e25a1;
    border-radius: 1rem;
}
.natc-content img {
    height: 7rem;
    width: 6.5rem;
    border: 3px double #2e25a1;
    border-radius: 5px;
}

.natc-content p {
    margin: 0;
}

.natc-content p:nth-child(3) {
    font-size: 14px;
    color: red;
}

.natc-content p:last-child {
    font-size: 13px;
    color: rgb(111, 112, 112);
}
/* End National Commitee */

/*Helps*/

.mtct-helps-table img{
    height: 40vh;
    width:60%;
    align-self: center;
}

.recent-works-content p,.recent-works-content h2{
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s; /* don't forget to set a duration! */
}

#our-goals .tab-content p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem !important;
    line-height: 1.867 !important;
}

.mtct-about{
position: relative;
  background-image: url("../img/MTCT.jpg"); /* Replace 'your-image.jpg' with your actual image path */
  background-size: cover;
  background-position: center;
}

.mask {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(3, 78, 145, 0.7); /* Adjust the opacity as needed */
  padding:5%;
  align-items: center;
  justify-content: center;
    
}
.mask p, .mask  h2{
    color:#ffffff;
    text-align: justify
}

.mask p{
    font-size:18px;
}

.mtct-container{
    box-shadow: 0 0 35px #eee !important;
    padding:5% 2%;
}


/* Sidebar */

.sidebar .widget {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 35px #eee !important;
    margin-bottom:5%;
}

.sidebar .widget .widget-title {
  font-size: 20px;
  margin-bottom: 5%;
  line-height: 1;
  position: relative;
  padding-left: 12px;
  font-weight: 600;
}

.sidebar .widget .widget-title:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #3E54FF;
  content: '';
}

.sidebar .widget.search-widget form {
  position: relative;
}

.sidebar .widget.search-widget form input {
  width: 100%;
  background-color: transparent;
  height: 60px;
  border: none;
  padding: 0 80px 0 20px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0;
  border: 2px solid #eee;
}

.sidebar .widget.search-widget form input::placeholder {
  color: #333;
}

.sidebar .widget.search-widget form button {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  z-index: 1;
  background-color: #3E54FF;
  font-size: 17px;
  transition: all 0.3s ease-out 0s;
  color: #fff;
  border-radius: 0;
}

.sidebar .widget.search-widget form button:hover {
  background-color: #333;
  color: #fff;
}

.sidebar .widget.popular-feeds .single-popular-feed {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.sidebar .widget.popular-feeds .single-popular-feed:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-img {
  width: 80px;
  margin-right: 15px;
  border-radius: 50%;
  height: 80px;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc {
  width: calc(100% - 95px);
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.5;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title a {
  font-size: 14px;
  font-weight: 500;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title a:hover {
  color: #3E54FF;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time {
  font-weight: 400;
  font-size: 13px;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time>i {
  margin-right: 4px;
}

.sidebar .widget.categories-widget ul li {
  margin-bottom: 6px;
}

.sidebar .widget.categories-widget ul li:last-child {
  margin-bottom: 0;
}

.sidebar .widget.categories-widget ul li a {
  font-size: 16px;
  background-color: transparent;
  display: block;
  position: relative;
  color: #333;
  transition: all 0.3s ease-out 0s;
  font-weight: 500;
  padding: 0;
}

.sidebar .widget.categories-widget ul li a span {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: transparent;
  color: #333;
  transition: all 0.3s ease-out 0s;
  border-radius: 50%;
  border: 1px solid #eee;
  font-size: 13px;
}

.sidebar .widget.categories-widget ul li a:hover {
  color: #3E54FF;
}

.sidebar .widget.categories-widget ul li a:hover span {
  background: #3E54FF;
  color: #fff;
  border-color: transparent;
}

.sidebar .widget.social-widget ul li {
  display: inline-block;
  margin-right: 10px;
}

.sidebar .widget.social-widget ul li a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 15px;
  background-color: #f3f5f7;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sidebar .widget.social-widget ul li a:hover {
  background-color: #3E54FF;
  color: #fff;
}

.sidebar .widget.popular-tag-widget {
  padding-bottom: 30px;
}

.popular-tag-widget .tags>a {
  display: inline-flex;
  justify-content: center;
  padding: 6px 16px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  background: #3E54FF;
  margin-right: 7px;
  margin-bottom: 10px;
  color: #fff;
  background: transparent;
  color: #888;
  border: 1px solid #eee;
}

.popular-tag-widget .tags>a:hover {
  background-color: #3E54FF;
  color: #fff;
  border-color: transparent;
}

.otc-heading{
    display: flex;
    justify-content: center;
}
.otc-heading h6{
    background-color: #e1defc;
    width: 100%;
    /* border-radius: 3rem; */
    border-left: 1rem solid #756cc7;
}
.otc-content p{
    font-weight: 550;
    line-height: 1rem;
}
/* Auto state committee */
.as-content img {
    height: 7rem;
    border: 3px double #3E54FF;
}
.as-content p{
    font-size: 14px;
    line-height: 20px;
}

button[type=button]{
/*    padding: 8px 23px !important;*/
}


.mtct-content-accordion button{
    padding: 0.5% !important;
}

.mtct-content-accordion table tr th,.mtct-content-accordion table tr td{
    text-align: center;
    vertical-align: middle;
}

.mtct-content-accordion .accordion-item button{
    width:100%;
    background-color: #ffffff;
    color: #F5272B;
}


.mt-quotes img{
    width:450px;
    height:250px;
}
/* District Commitee */
.text-justify {
  text-align: justify;
}

.state-bg {
  background-color: #0058A5;
}

.li-title {
  cursor: pointer;
}

.li-content {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.li-content.active {
  height: auto;
}

.flex-list .symp::before {
  content: '+';
}

.flex-list .li-title.min .symp::before {
  content: '-';
}

.second-li-title,
.third-li-title {
  cursor: pointer;
}

.second-li-title .symp::before,
.third-li-title .symp::before {
  content: '+';
}

.second-li-title.min .symp::before,
.third-li-title.min .symp::before {
  content: '-';
}

.third-li-content,
.second-li-content {
  height: 0;
  overflow: hidden;
}

.third-li-content.active,
.second-li-content.active {
  height: auto;
}

.third-li-content p {
  font-size: 0.9rem;
}

.third-li-content img {
  height: 6rem;

}
.blood-donor-wh {
  color: rgb(199, 46, 46);
  border: 3px dotted rgb(77, 71, 71);
  padding: 10px;
}
.blood-donor-wh i{
  font-size: 18px;
  background-color: #25D366;
  color: #fff;
  border-radius: 50%; 
  padding: 5px;
  font-weight: 600;
}

.bl-don-content {
  font-size: 16px;
}
.navbar li a{
  font-size: 15px !important;
  font-weight: 500 !important;
  padding: 16px 14px !important;
}