/* CSS Document */

/* first color 29007e */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #5E678C;
  overflow-x: hidden;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  margin: 0px;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0px;
}

.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #1CABE2;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}

.preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader-fx {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

.side-article h6 {
  text-decoration: underline;
  color: #1CABE2;
  padding: 5%;
}

.header-logo.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #fff;
}

.header-logo.sticky .logo img {
  width: 50%;
}

.mtct-list {

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.mtct-list li {
  padding: 1% 0%;
  padding-right: 1% !important;
  list-style-type: none;
}

.mtct-list li i {
  margin-right: 2%;
  color: #F5272B;
}

.donate-right .btn.donate {
  background-color: #1CABE2;
  color: #fff;
}

a.btn.donate1 {
  margin-right: 5px;
  position: relative;
  display: inline-flex;
  width: 154px;
  align-items: center;
  justify-content: center;
  height: 50px;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  background-color: #F5272B !important;
  border-radius: 5px !important;

  border: 1px solid #F5272B;

  filter: drop-shadow(0 0 5px #0005);
}

.input-group-prepend {
  width: 15% !important;
  text-align: center !important;
}

.input-group-prepend .input-group-text {
  background-color: #1CABE2 !important;
  color: #fff !important;
  width: 100%;
  text-align: center !important;
}

.ifrmd {
  height: 960px;
  width: 100%;
  background: white;
  border: none;

}

.logo-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.text-primary {
  color: #1cabe2 !important;
}

.input-group-text {
  color: #fff;
  background-color: #1cabe2;
}

.form-control:focus {
  border-color: #1cabe2;
  box-shadow: none;
}

.custom-select:focus {
  border-color: #1cabe2;
  box-shadow: none;
}

.btn-primary {
  background-color: #1cabe2;
  border: none;
}

.btn-primary:hover {
  background-color: #1cabe2;
}

.memb-form {
  -webkit-box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 0.19);
}

/* National Commitee */
.natc-main {
  background-color: #eedeff;
  color: #1cabe2;
  border-radius: 1rem;
}

.natc-sub {
  background-color: #e1defc;
  color: #1cabe2;
  border-left: 7px solid #1cabe2;
  margin-bottom: 15px;
}

.natc-content img {
  height: 7rem;
  width: 6.5rem;
  border: 3px double #1cabe2;
  border-radius: 5px;
}

.natc-content p {
  margin: 0;
}

.natc-content p:nth-child(3) {
  font-size: 14px;
  color: red;
}

.natc-content p:last-child {
  font-size: 13px;
  color: rgb(111, 112, 112);
}

/* End National Commitee */

/*Helps*/

.mtct-helps-table img {
  height: 40vh;
  width: 60%;
  align-self: center;
}

.recent-works-content p,
.recent-works-content h2 {
  animation: fadeIn;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s;
  /* don't forget to set a duration! */
}

#our-goals .tab-content p {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem !important;
  line-height: 1.867 !important;
}

.mtct-about {
  position: relative;
  background-image: url("../img/MTCT.jpg");
  /* Replace 'your-image.jpg' with your actual image path */
  background-size: cover;
  background-position: center;
}

.mask {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(3, 78, 145, 0.7);
  /* Adjust the opacity as needed */
  padding: 5%;
  align-items: center;
  justify-content: center;

}

.mask p,
.mask h2 {
  color: #ffffff;
  text-align: justify
}

.mask p {
  font-size: 18px;
}

.mtct-container {
  box-shadow: 0 0 35px #eee !important;
  padding: 5% 2%;
}


/* Sidebar */

.sidebar .widget {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 35px #eee !important;
  margin-bottom: 5%;
}

.sidebar .widget .widget-title {
  font-size: 20px;
  margin-bottom: 5%;
  line-height: 1;
  position: relative;
  padding-left: 12px;
  font-weight: 600;
}

.sidebar .widget .widget-title:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #3E54FF;
  content: '';
}

.sidebar .widget.search-widget form {
  position: relative;
}

.sidebar .widget.search-widget form input {
  width: 100%;
  background-color: transparent;
  height: 60px;
  border: none;
  padding: 0 80px 0 20px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0;
  border: 2px solid #eee;
}

.sidebar .widget.search-widget form input::placeholder {
  color: #333;
}

.sidebar .widget.search-widget form button {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  z-index: 1;
  background-color: #3E54FF;
  font-size: 17px;
  transition: all 0.3s ease-out 0s;
  color: #fff;
  border-radius: 0;
}

.sidebar .widget.search-widget form button:hover {
  background-color: #333;
  color: #fff;
}

.sidebar .widget.popular-feeds .single-popular-feed {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.sidebar .widget.popular-feeds .single-popular-feed:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-img {
  width: 80px;
  margin-right: 15px;
  border-radius: 50%;
  height: 80px;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc {
  width: calc(100% - 95px);
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.5;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title a {
  font-size: 14px;
  font-weight: 500;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title a:hover {
  color: #3E54FF;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time {
  font-weight: 400;
  font-size: 13px;
}

.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time>i {
  margin-right: 4px;
}

.sidebar .widget.categories-widget ul li {
  margin-bottom: 6px;
}

.sidebar .widget.categories-widget ul li:last-child {
  margin-bottom: 0;
}

.sidebar .widget.categories-widget ul li a {
  font-size: 16px;
  background-color: transparent;
  display: block;
  position: relative;
  color: #333;
  transition: all 0.3s ease-out 0s;
  font-weight: 500;
  padding: 0;
}

.sidebar .widget.categories-widget ul li a span {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: transparent;
  color: #333;
  transition: all 0.3s ease-out 0s;
  border-radius: 50%;
  border: 1px solid #eee;
  font-size: 13px;
}

.sidebar .widget.categories-widget ul li a:hover {
  color: #3E54FF;
}

.sidebar .widget.categories-widget ul li a:hover span {
  background: #3E54FF;
  color: #fff;
  border-color: transparent;
}

.sidebar .widget.social-widget ul li {
  display: inline-block;
  margin-right: 10px;
}

.sidebar .widget.social-widget ul li a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 15px;
  background-color: #f3f5f7;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sidebar .widget.social-widget ul li a:hover {
  background-color: #3E54FF;
  color: #fff;
}

.sidebar .widget.popular-tag-widget {
  padding-bottom: 30px;
}

.popular-tag-widget .tags>a {
  display: inline-flex;
  justify-content: center;
  padding: 6px 16px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  background: #3E54FF;
  margin-right: 7px;
  margin-bottom: 10px;
  color: #fff;
  background: transparent;
  color: #888;
  border: 1px solid #eee;
}

.popular-tag-widget .tags>a:hover {
  background-color: #3E54FF;
  color: #fff;
  border-color: transparent;
}

.otc-heading {
  display: flex;
  justify-content: center;
}

.otc-heading h6 {
  background-color: #e1defc;
  width: 100%;
  /* border-radius: 3rem; */
  border-left: 1rem solid #756cc7;
}

.otc-content p {
  font-weight: 550;
  line-height: 1rem;
}

/* Auto state committee */
.as-content img {
  height: 7rem;
  border: 3px double #3E54FF;
}

.as-content p {
  font-size: 14px;
  line-height: 20px;
}

button[type=button] {
  /*    padding: 8px 23px !important;*/
}


.mtct-content-accordion button {
  padding: 0.5% !important;
}

.mtct-content-accordion table tr th,
.mtct-content-accordion table tr td {
  text-align: center;
  vertical-align: middle;
}

.mtct-content-accordion .accordion-item button {
  width: 100%;
  background-color: #ffffff;
  color: #1cabe2;
  border: 1px solid rgb(218, 218, 218);
  margin-block-start: 10px;
}

.accordion-body .table tr th {
  font-size: 13px;
}


.mt-quotes img {
  width: 450px;
  height: 250px;
}

/* District Commitee */
.text-justify {
  text-align: justify;
}

.state-bg {
  background-color: #1cabe2;
}

.li-title {
  cursor: pointer;
}

.li-content {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.li-content.active {
  height: auto;
}

.flex-list .symp::before {
  content: '+';
}

.flex-list .li-title.min .symp::before {
  content: '-';
}

.second-li-title,
.third-li-title {
  cursor: pointer;
}

.second-li-title .symp::before,
.third-li-title .symp::before {
  content: '+';
}

.second-li-title.min .symp::before,
.third-li-title.min .symp::before {
  content: '-';
}

.third-li-content,
.second-li-content {
  height: 0;
  overflow: hidden;
}

.third-li-content.active,
.second-li-content.active {
  height: auto;
}

.third-li-content p {
  font-size: 0.9rem;
}

.third-li-content img {
  height: 6rem;

}

.blood-donor-wh {
  color: rgb(199, 46, 46);
  border: 3px dotted rgb(77, 71, 71);
  padding: 10px;
}

.blood-donor-wh i {
  font-size: 18px;
  background-color: #25D366;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
}

.bl-don-content {
  font-size: 16px;
}

.navbar li a {
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 14px 14px !important
}

.wecome-content {
  max-width: 30rem;
  background-color: #1cabe2;
  color: #fff;
  background-image: url("../img/MTCT.jpg");
  background-size: cover;
  background-position: center;
}

.wecome-content>div {
  background-color: rgba(3, 78, 145, 0.7);
}

.wecome-content p {
  text-align: justify;
  font-size: 16px;
}

/* index page  */
.welcome-box {
  background-color: #dbf1fa;
  color: #0c4e6d;
  padding: 1rem;
}

.welcome-box p {
  font-size: 13px;
  line-height: 1.2rem;
  text-align: center;
}

.about-mtct {
  text-align: justify;
}

.about-mtct .about {
  padding: 0;
  background-color: #1cabe2;
  color: #fff;
  background-image: url("../img/MTCT.jpg");
  background-size: cover;
  background-position: center;
}

.about-mtct .about>div {
  padding: 20px;
  background-color: rgba(3, 78, 145, 0.5);
}

.about-Voicing .Voicing-head p {
  text-align: center !important;
  background-color: #1CABE2;
  margin-block: 1rem;
  padding-block: 0.5rem;
  color: #ffffff;
}

.appoinments-marquee {
  background-color: yellow;
  color: rgb(192, 93, 1);
}

.short-profile {
  background-color: rgba(0, 0, 0, 0.05);
  padding-block: 3rem;
}

.short-profile-card {
  /* box-shadow: 0 .1rem 2rem rgba(0, 0, 0, .15); */
  background-color: #ffffff;
  padding: 2rem 20px;
  /* margin-top: 3rem; */
}

.short-profile-card .title {
  color: #1cabe2;
  font-weight: 700;
  line-height: 25px;
}

.short-profile-card p {
  margin-bottom: 1rem;
  font-size: 15px;
  text-align: justify;
}

.short-profile-card p span {
  cursor: pointer;
  user-select: none;
}

.short-profile-card h6 {
  margin-top: 2rem;
  font-weight: 600;
}

.short-profile-card #short-profile-more {
  display: none;
}

.content-heading {
  font-size: 35px;
  font-weight: 500;
}

.content-area p {
  text-align: justify;
}

.content-person {
  box-shadow: 0 .1rem 1.5rem rgba(0, 0, 0, .15) !important;
}

.content-person p {
  text-align: justify;
}

.content-person p.name {
  font-size: 23px;
  color: #1cabe2;
}

.content-person img {
  /* border: solid .2rem rgb(145, 169, 180); */
  /* box-shadow: 0px 3px 20px rgb(124, 124, 124); */
  height: 10rem;
  width: 10rem !important;
  border-radius: 50%;
}

.quick-link-panel {
  box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .15) !important;
  background-color: #ecebeb;
  border-radius: 1rem;
}

.quick-link-panel p {
  margin-block: 1rem;
  color: #1cabe2;
}

.quick-link-panel ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
}

.quick-link-panel ul li {
  width: 100%;
  list-style: none;
  padding: 10px;
  border: solid 1px rgba(147, 147, 150, 0.3);
  margin-block: 3px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 1rem;
  /* border-radius: 13px; */
}

.quick-link-panel ul li:hover {
  background-color: #1cabe2;
  color: #ffffff;
}

.content-data{
  padding-block: 5rem;
  padding-inline: 1rem;
  margin-block: 3rem;
  background-color: #ecebeb;
  border-radius: 1rem;  
}

.content-data .menber-card{
  box-shadow: 11px 4px 30px -7px rgba(144, 166, 173, 0.6);
  -webkit-box-shadow: 11px 4px 30px -7px rgba(144, 166, 173, 0.6);
  -moz-box-shadow: 11px 4px 30px -7px rgba(144, 166, 173, 0.6);
  padding-block: 2rem;
  transition: .5s;
  border-radius: 1rem;
  background-color: #ffffff;
}

.content-data .menber-card .menber-img {
  display: flex;
  justify-content: center;
}

.content-data .menber-card .menber-img img {
  border-radius: 50%;
  height: 14rem;
  width: 14rem;
}

.content-data .menber-card .member-details {
  background-color: #95d0e7;
  margin-top: -8rem;
  padding: 8rem 20px 20px 20px;
  transition: .5s;
}

.content-data .menber-card .member-details p {
  text-align: justify;
  color: #000000;
}

.content-data .menber-card .member-details .name {
  font-size: 18px;
  font-weight: 600;
  margin-block: 15px;
  text-align: center;
}

.content-data .menber-card .member-details .position {
  font-weight: 600;
  color: #0c4e6d;
  margin-top: 10px;
  text-align: center;
}
.content-data .menber-card:hover {
  background-color: #95d0e7;
  border: 1px solid #83b9ce;
}
.content-data .menber-card:hover .member-details{
  background-color: #ffffff;
}

 .comitee {
        margin-left: 10px;
        margin-top: 1rem;
        box-shadow: 11px 4px 30px -7px rgba(144, 166, 173, 0.6);
        -webkit-box-shadow: 11px 4px 30px -7px rgba(144, 166, 173, 0.6);
        -moz-box-shadow: 11px 4px 30px -7px rgba(144, 166, 173, 0.6);
        padding-bottom: 1rem;
        padding-top: 1rem;
/*
        height: 125vh;
        overflow: auto;
*/
    }

    .comitee p {
        font-size: 22px;
    }

    .comitee .district p {
        font-size: 18px;
        margin-bottom: 0;
        margin-top: 2rem;
        font-weight: 600;
    }

    .comitee .district hr {
        margin-top: 0;
    }

    .comitee .district .district-option {
        display: flex;
        flex-direction: column;
    }

    .comitee .district .district-option input[type="checkbox"] {
        margin-left: 1rem;
        margin-block: 7px;
        cursor: pointer;
    }

    .comitee .district .district-option label {
        cursor: pointer;
    }

    .comitee .district .district-option label:hover {
        color: rgb(9, 95, 134);
    }

    .comitee-data {
        /* margin-top: 3rem; */
/*
        height: 125vh;
        overflow: auto;
*/
    }

    .comitee-head {
        margin-top: 1rem;
        text-align: center;
        font-weight: 600;
        font-size: 23px;
    }

    .comitee-data .comitee-data-card {
        box-shadow: 2px 2px 19px -1px rgba(144, 166, 173, 0.6);
        -webkit-box-shadow: 2px 2px 19px -1px rgba(144, 166, 173, 0.6);
        -moz-box-shadow: 2px 2px 19px -1px rgba(144, 166, 173, 0.6);
        padding: 1rem;
        border-radius: 1rem;
        margin: 0.5rem;
    }

    .comitee-data .comitee-data-card:hover {
        box-shadow: none;
        border: 1px solid rgb(101, 203, 221);
        background-color: rgb(216, 250, 255);
    }

    .comitee-data .comitee-data-card .comitee-img {
        display: flex;
        justify-content: center;
    }

    .comitee-data .comitee-data-card .comitee-img img {
        height: 7rem;
        border-radius: 1rem;
    }

    .comitee-data .comitee-data-card .data .name {
        color: rgb(22, 116, 160);
        font-size: 18px;
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 0;
        text-align: center;
    }

    .comitee-data .comitee-data-card .data .position {
        color: rgb(73, 73, 73);
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    .comitee-data .comitee-data-card .data .address p {
        margin: 0;
        font-size: 15px;
    }

    .comitee-data .comitee-data-card-main {
        display: none;
    }

    .comitee-data .comitee-data-card-main.active {
        display: block;
    }

    .comitee-sub-head {
        color: #1674a0;
        font-weight: 500;
        font-size: 17px;
        margin-top: 3rem;
    }

    .comitee .state .state-text {
        background-color: #1674a0;
        margin-inline: 1rem;
        text-align: center;
        color: #ffffff;
        margin-top: 2rem;
    }